/* ========================== Component Name ========================== */
$component: blog-18;
$is: [is=fir-$component];
/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */
$(is){
  padding: 50px 0;

  &.white {
    background-color: white;
  }

  &.teal {
    background-color: var(--teal);
  }

  &.blue {
    background-color: var(--blue);
  }

  &.gray {
    background-color: var(--gray);
  }
}

.$(component) {
  &__wrapper {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    max-width: var(--xl);
    margin: 0 auto;
  }

  &__post {
    display: flex;
    flex-direction: column;
    margin: 20px;

    h3 {
      max-width: 320px;
      margin-bottom: 10px;
      color: var(--blue);
      font-weight: 400;
      font-style: normal;
    }

    p {
      color: var(--black);
    }

    a {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-top: auto;
      color: var(--blue);
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.75rem;
      letter-spacing: 1px;

      &:hover {
        color: var(--teal);
      }
    }
  }

  &__post-category {
    margin-bottom: 10px;;
    color: var(--teal);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 1px;
  }

  &__post-description {
    margin-bottom: 30px;
    color: var(--black);
  }

  .fa-long-arrow-right {
    fill: var(--green);
    align-self: flex-end;
    justify-self: flex-end;
    width: 21px;
    margin-left: 12px;
  }

  &__pagination {
    width: 90%;
    max-width: var(--sm);
    margin: 0 auto;
    padding: 40px 0 25px;
    text-align: center;

    .page-numbers {
      display: inline-block;
      width: 25px;
      height: 25px;
      background: white;
      margin: 0 5px;
      color: var(--blue);

      &:hover {
        color: white;
        background: var(--blue);
      }
    }

    .current {
      color: white;
      background-color: var(--teal);
    }

    .prev,
    .next {
      display: none;
    }
  }
  /* ========================== Modifiers ========================== */

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
}

/* ========================== Breakpoints ========================== */

/* ================ Query: Small */
$(is).SM .$(component){
}

/* ================ Query: Medium */
$(is).MD .$(component){
  &__post {
    max-width: 370px;
  }

  &__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ================ Query: Large */
$(is).LG .$(component){
  &__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  &__pagination {
    padding: 40px 0 125px;
  }
}

/* ================ Query: Xtra Large */
$(is).XL .$(component){
}

/* ================ Query: Xtra Xtra Large */
$(is).XXL .$(component){
}
